/TeresaV/Esercizio1_8_Terminale/nbproject/private/
/TeresaV/Domenici/Esercizio1_8_Terminale/build/
/TeresaV/Domenici/Esercizio1_8_Terminale/dist/
/TeresaV/EX1_8_Terminale_1/nbproject/private/
/TeresaV/EX1_8_Terminale_1/build/
/TeresaV/EX1_8_Terminale_1/dist/
/TeresaV/Domenici/JavaApplication7/nbproject/private/
/TeresaV/Domenici/JavaApplication7/build/
/TeresaV/Domenici/Ex1_8_Gui/nbproject/private/
/TeresaV/Domenici/Ex1_8_Gui/build/
/TeresaV/Domenici/Ex1_8_JS/nbproject/private/
/TeresaV/Guerrini/Lez03/build/
/TeresaV/Guerrini/Lez03/nbproject/private/
/TeresaV/Guerrini/prova1/target/
/TeresaV/Guerrini/prova2/target/
/TeresaV/Guerrini/metodiOverload/nbproject/private/
/TeresaV/Guerrini/metodiOverload/build/
/TeresaV/Domenici/Es_array/nbproject/private/
/TeresaV/Domenici/Es_array/build/
/TeresaV/Guerrini/GestioneScuola/nbproject/private/
/TeresaV/Guerrini/GestioneScuola/build/
/TeresaV/Guerrini/GestioneScuola/dist/
/TeresaV/Domenici/OO_dado_Strut/nbproject/private/
/TeresaV/Domenici/oo_bank/nbproject/private/
/TeresaV/Domenici/oo_bank/build/
/TeresaV/Domenici/OO_BJ/nbproject/private/
/TeresaV/Domenici/OO_BJ/build/
/TeresaV/Domenici/OO_ConcettiBase/nbproject/private/
/TeresaV/Domenici/OO_ConcettiBase/build/
/TeresaV/Domenici/OO_Interfacce/nbproject/private/
/TeresaV/Domenici/Library_Esercitazione/nbproject/private/
/TeresaV/Domenici/Library_Esercitazione/build/
/TeresaV/Domenici/CellPhone/nbproject/private/
/TeresaV/Guerrini/Prodotto/nbproject/private/
/TeresaV/Domenici/Main_Reserve/nbproject/private/
/TeresaV/Domenici/Main_Reserve/build/
/TeresaV/Guerrini/CampionatoRugby/nbproject/private/
/TeresaV/Guerrini/CampionatoRugby/build/
/TeresaV/Domenici/Clinica_Gestione/nbproject/private/
/TeresaV/Domenici/Agenda_Appuntamenti/nbproject/private/
/TeresaV/Domenici/Agenda_Appuntamenti/build/
