/TeresaV/Esercizio1_8_Terminale/nbproject/private/
/TeresaV/Domenici/Esercizio1_8_Terminale/build/
/TeresaV/Domenici/Esercizio1_8_Terminale/dist/
/TeresaV/EX1_8_Terminale_1/nbproject/private/
/TeresaV/EX1_8_Terminale_1/build/
/TeresaV/EX1_8_Terminale_1/dist/
/TeresaV/Domenici/JavaApplication7/nbproject/private/
/TeresaV/Domenici/JavaApplication7/build/
/TeresaV/Domenici/Ex1_8_Gui/nbproject/private/
/TeresaV/Domenici/Ex1_8_Gui/build/
/TeresaV/Domenici/Ex1_8_JS/nbproject/private/
